// Border
@mixin border( $border ) {
    border: $border;
}

@mixin border-top( $border ) {
    border-top: $border;
}

@mixin border-right( $border ) {
    border-right: $border;
}

@mixin border-bottom( $border ) {
    border-bottom: $border;
}

@mixin border-left( $border ) {
    border-left: $border;
}