
.input-group {
    @include select2-height( calc( 2.25rem + 2px ) );
    .select2-container--default {
        .select2-selection--single {
            border-left: none;
        }
    }
}

.select2-container--default {
    .select2-selection--single {
        @include border-radius( 0 !important );
        &:focus {
            outline: none !important;
        }
        .select2-selection__arrow {
            border-left: 1px solid $color_silver_chalice_approx;
        }
    }
}